@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-width: 480px;
  min-height: 600px;
}

/* add here */
.tree {
  list-style: none;
  margin: 0;
}
.tree-node,
.tree-node-group {
  list-style: none;
  margin: 0;
  padding: 0;
}

.tree-branch-wrapper,
.tree-node__leaf {
  outline: none;
}

.tree-node--focused {
  /* outline-color: rgb(77, 144, 254);
  outline-style: auto;
  outline-width: 2px;
  display: block; */
}

.tree-node__branch {
  display: flex;
  align-items: center;
}

.tree-node {
  cursor: pointer;
}

/* response style */
.response {
  background-color: #f9f9f9;
  padding: 0.5rem;
  border-radius: 0.25rem;
  @apply space-y-4
}

.logo {
  @apply flex gap-4 items-baseline
}

.title {
  background: -webkit-linear-gradient(45deg, #ff9966, #ff5e62 80%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  @apply inline-block text-xl font-bold
}

.tips {
  @apply opacity-50 text-xs
}
